ul.relation-map li {

    list-style-type: none;
    border-left: 2px solid #aaa;

}

div.group {

    display: inline-block;
    vertical-align: top;

    font-family: monospace;
    line-height: 1em;

    border: 1px solid #000;

}
